.navbar-brand img{
    width: 150px;
    height: auto;
    
}
.navbar{
    background-color: #000000;
}

.nav-link{
    color: #ffffff;
    font-size: 1.1em;
    margin-right: 30px;
}

.nav-link:hover{
    color: #e7c141;
    font-size: 1.1em;
    margin-right: 30px;
    border-bottom: 2px solid #E7C141;
}