<div class="container-fluid">
    <div class="row">        
        <div class="col-sm-12 col-md-12 col-lg-12">

        
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Projects</h1>
                            <h6>Here's some examples of my work</h6>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="categories">
                        <button (click)="j_loadAllProjects('all')" class="category-button" data-category="all">All</button>
                        <button (click)="j_loadAllProjects('design')" class="category-button" data-category="design">Design</button>
                        <button (click)="j_loadAllProjects('web')" class="category-button" data-category="web">Web</button>
                    </div>
                    
                    <div *ngIf="loading" style="color: white;">loading...</div>
                    <div class="projects" *ngFor="let project of j_Projects">

                        <div *ngIf="!loading" class="data">
                            <h2>{{project.attributes.ProjectTitle}}</h2>
                            <p>{{project.attributes.ProjectDescription}}</p>
                            <img [src]="imageUrl+project.attributes.ProjectImages.data[0].attributes.formats.medium.url" alt="">
                        </div>

                    </div>
                </div>

        </div>

    </div>

</div>




