<div class="container-fluid">
    <div class="row">

        <div class="homemain">
            <div class="banner d-flex justify-content-center align-items-center col-sm-12 col-md-12 col-lg-12">
                <div class="maincontainer text-center">
                    <img class="img-position" src="assets/logo.png" alt="">
                    <h1>{{ data.data.attributes.JobTitle }}</h1>
                    <h1>{{ data.data.attributes.JobTitle2 }}</h1>
                    <button class="btn btn-primary btn-lg mt-3">
                        <a href="/projects" class="text-white text-decoration-none">Projects</a>
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>

  