<!-- <div class="homemain">
    <div class="banner d-flex justify-content-center align-items-center" style="background-image: url( 'http://localhost:1337{{data.data.attributes.HeroImage.data.attributes.formats.url}}')">

        <div class="jobtitles">
            <h1>{{data.data.attributes.JobTitle}}</h1> <br>
            <h1>{{data.data.attributes.JobTitle2}}</h1>
            <button><a href="/PortfolioFE/myportfolio/src/app/project/project.component.html"></a>Projects</button>
        </div>
    </div>
        
</div> -->

<!-- <div class="homemain">
    <div class="banner d-flex justify-content-center align-items-center">
        
        <div class="maincontainer">
            <img class="img-position" src="assets/logo.png" alt="">
            <h1>{{ data.data.attributes.JobTitle }}</h1><br>
            <h1>{{ data.data.attributes.JobTitle2 }}</h1>
            <button><a href="/projects"></a>Projects</button>
        </div>
    </div>
  </div> -->


  <div class="homemain">
    <div class="banner d-flex justify-content-center align-items-center">
        <div class="maincontainer text-center">
            <img class="img-position" src="assets/logo.png" alt="">
            <h1>{{ data.data.attributes.JobTitle }}</h1>
            <h1>{{ data.data.attributes.JobTitle2 }}</h1>
            <button class="btn btn-primary btn-lg mt-3">
                <a href="/projects" class="text-white text-decoration-none">Projects</a>
            </button>
        </div>
    </div>
</div>

  